body{
    background: transparent;
    background: radial-gradient(circle,258,174,202,1)100%;
    background-image: url('/src/assets/IMG/fondo juego.jpg');
    background-size: cover;
    background-attachment: fixed;
}
main{
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}
.section1{
    background-color: rgb(255,128,0.0);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.section2{
    padding: 0 20px;
    width: 250px;
    height: auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(255,128,0.0);
}
.estadisticas{
    border: 1px solid white;
    height: 100px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
.start{
    height: 50px;
    width: 250px;
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
    background-color: #4286f4;
    border: 1px solid white;
    border-radius: 8px;
}
footer{
    cursor: not-allowed;
    opacity: 50%;
}
.disabled{
    cursor: not-allowed;
    opacity: 50%;
}
        /* Estilos para el globo */
        .right-corner {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-left: 250px;
            margin-bottom: 60px;
            animation: floatUp 4s linear infinite; /* Animación */
        }
        .left-corner {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-left: 1550px;
            margin-bottom: 60px;
            animation: floatUp 4s linear infinite; /* Animación */
        }

        /* Definición de la animación */
        @keyframes floatUp {
            0% {
                transform: translateY(0) rotate(360deg);
                opacity: 1;
            }
            100% {
                transform: translateY(-900px) rotate(-360deg); /* Altura máxima de desplazamiento y rotación completa */
                opacity: 1;
            }
        }

        /* Estilos para los globos de la esquina derecha */
        .right-corner {
            right: 0;
            animation-delay: 1s; /* Retraso en la animación para que no salgan todos al mismo tiempo */
        }

        /* Estilos para los globos de la esquina izquierda */
        .left-corner {
            left: 0;
            animation-delay: 1s; /* Retraso en la animación para que no salgan todos al mismo tiempo */
        }