body{
    background: transparent;
    background: radial-gradient(circle,258,174,202,1)100%;
    background-image: url('/src/assets/IMG/fondojuego.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    -webkit-perspective: 1000;
    background: powderblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: calibri;
}
main{
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}
h1{
    text-align: center;
}
button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.section2{
    padding: 0 20px;
    width: 250px;
    height: auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(255,128,0.0);
}
.estadisticas{
    border: 1px solid white;
    height: 100px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
.start{
    height: 50px;
    width: 250px;
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
    background-color: #4286f4;
    border: 1px solid white;
    border-radius: 8px;
}
footer{
    cursor: not-allowed;
    opacity: 50%;
}
.disabled{
    cursor: not-allowed;
    opacity: 50%;
}
        /* Estilos para el globo */
        .right-corner {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-left: -1500px;
            margin-bottom: 60px;
            animation: floatUp 4s linear infinite; /* Animación */
        }
        .left-corner {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-left: 1550px;
            margin-bottom: 60px;
            animation: floatUp 4s linear infinite; /* Animación */
        }

        /* Definición de la animación */
        @keyframes floatUp {
            0% {
                transform: translateY(0) rotate(360deg);
                opacity: 1;
            }
            100% {
                transform: translateY(-900px) rotate(-360deg); /* Altura máxima de desplazamiento y rotación completa */
                opacity: 1;
            }
        }

        /* Estilos para los globos de la esquina derecha */
        .right-corner {
            right: 0;
            animation-delay: 1s; /* Retraso en la animación para que no salgan todos al mismo tiempo */
        }

        /* Estilos para los globos de la esquina izquierda */
        .left-corner {
            left: 0;
            animation-delay: 1s; /* Retraso en la animación para que no salgan todos al mismo tiempo */
        }

        /* <!-- CSS --> */
        /* <!-- efectos visuales --> */

            :root {
                --w: calc(70vw / 6);
                --h: calc(70vh / 4);
            }
    
            * {
                transition: all 0.5s;
            }
    
            div {
                display: inline-block;
                
            }
    
            .area-tarjeta,
            .tarjeta,
            .cara {
                cursor: pointer;
                width: var(--w);
                min-width: 100px;
                height: var(--h);
            }
    
            .tarjeta {
                position: relative;
                transform-style: preserve-3d;
                animation: iniciar 2s;
            }
    
            .cara {
                position: absolute;
                backface-visibility: hidden;
                box-shadow: inset 0 0 0 5px white;
                font-size: 500%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            .trasera {
                background-color: lightcyan;
                transform: rotateY(180deg);
            }
    
            .superior {
                background: linear-gradient(orange, darkorange);
            }
    
            @keyframes iniciar {
    
                20%,
                90% {
                    transform: rotateY(180deg);
                }
    
                0%,
                100% {
                    transform: rotateY(0deg);
                }
            }